<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Import KML Zones</title>


  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/style.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/jscolor-picker/jscolor.js"></script>
  <script src="/bower_components/spinjs/spin.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/kml.js"></script>
  <script src="scripts/vanillaSlider.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/colorPicker.js"></script>
  <script src="scripts/uploader.js"></script>
  <script src="scripts/waiting.js"></script>
  <!-- endbuild -->

</head>

<body>

  <div id="importKmlZones" class="hidden">

    <div id="disclaimer">
        <label id="disclaimerLabel">Sample add-in/tool</label>
        <p>This tool is provided as an example and is available on an As-Is basis. You must assume all the risks and
            costs associated with the use of the sample tool, including, without limitation, any damage to any
            equipment, software, information or data. In addition, we are not obligated to provide any maintenance,
            technical or other support for the sample tool. In order to improve our products, we may at any time,
            and without warning, change the design, presentation, or functionality of the software.</p>
    </div>
    
    <div class="checkmatePageHeader">
      <h1 class="checkmatePageName">Import KML Zones</h1>
  </div>

  <div ng-controller="optionsController" id="optionsControllerElement" style="margin-top: 20px;">
      <button ng-click="toggleModal()" class="geo-button">Options</button>
      <button ng-click="clear()" class="geo-button">Clear</button>
      <modal-dialog show="modalShown">
          <ul class="geotabOptionsMenuElements">
              <li class="geotabOptionsMenuElement">
                  <label for="typesSelect">Types</label>

                  <div class="geotabOptionsMenuElementValue">
                      <select id="typesSelect" class="ng-modal-dialog-elem checkmateFormEditField" ng-model="zoneTypeSelect"
                              ng-options="option.name for option in zoneTypeOptions track by option.id" multiple="true"
                              ng-mousedown="selectType($event)">
                      </select>
                  </div>
              </li>
              <li style="height: 90px;" class="geotabOptionsMenuElement">
                  <label>Color</label>

                  <div class="geotabOptionsMenuElementValue">
                      <div id="colorPicker">
                          <div class="formColorPicker">
                              <input class="colorPickerField" title="This is the selected color"
                                     ng-model="colorPickerValue" style="" id="colorPickerField" readonly="true"/>

                              <div class="quickColorsBox">
                              </div>
                              <div class="transparencySlider" style="display: none;">
                                  <label>Transparency:<span
                                          class="transparencySliderValue noTranslate"
                                          ng-bind="transparencySliderValue"></span>%</label>

                                  <div class="transparencySliderControl"
                                       title="This is the selected transparency"></div>
                              </div>
                              <div class="transparencyButtonSet horizontalButtonSet" style="display: none;">
                                  <input type="radio" id="colorPicker_DisplayedFalseId" class="geotabSwitchButton"
                                         name="asd"/>
                                  <label for="colorPicker_DisplayedFalseId" class="geo-button">Not visible</label>
                                  <input type="radio" id="colorPicker_DisplayedTrueId" class="geotabSwitchButton"
                                         name="asd"/>
                                  <label for="colorPicker_DisplayedTrueId" class="geo-button">Visible</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li class="geotabOptionsMenuElement">
                  <label for="stoppedInsideZones">Indicate stops within zone</label>

                  <div class="geotabOptionsMenuElementValue">
                      <span class="horizontalButtonSet">
                          <input type="checkbox" id="stoppedInsideZones" checked="checked" class="geotabSwitchButton"
                                 ng-click="changeZoneStop($event)"/>
                          <label class="geo-button" for="stoppedInsideZones">Yes</label>
                          <input type="checkbox" id="stoppedInsideZonesNo" class="geotabSwitchButton"
                                 ng-click="changeZoneStop($event)"/>
                          <label class="geo-button" for="stoppedInsideZonesNo">No</label>
                      </span>
                  </div>
              </li>
              <li class="geotabOptionsMenuElement">
                  <button class="geo-button geo-button--action" ng-click="applyOptions()">Apply</button>
                  <button class="geo-button" ng-click="setDefaultOptions()">Set defaults</button>
              </li>
          </ul>
      </modal-dialog>
  </div>

  <div id="imporKMLZonesFormContainer" class="extern" style="margin-top: 20px;" ng-controller='parsedDataController'>
      <div class="dragAndDropUploader uploaderElementsContainer">
          <span class="dragAndDropTitle">{{uploaderTitle}}</span>
          <input class="uploadFileElement" type="file" multiple="true" ng-model="upload"
                 onchange="angular.element(this).scope().uploadFiles(event)" onclick="this.value = null;">
      </div>

      <div class="errorMessage" id="errorMessage" style="display: none;">

      </div>

      <div>
          <div id="progressContainer" style="display: none;">
              <progress max="100" value="0" id="importProgress"></progress>
          </div>
          <div class="importToolbar" style="width: 100%; padding: 10px 0 0 0; text-align: right;">
              <button class="geo-button" ng-click="exportKML()" id="exportKML" style="display: none;">Save not
                  imported zones to kml file
              </button>
              <input type="checkbox" class="geotabSwitchButton" id="hideImported" ng-click="hideImported($event)">
              <label class="geo-button" for="hideImported" id="hideImportedLabel" style="display: none;">Hide imported</label>
              <button class="geo-button geo-button--action" ng-click="importSelectedZones()" id="importButton"
                      style="display: none;">Import selected zones
              </button>
              <input type="checkbox" class="geotabSwitchButton" id="selectAll" ng-click="selectAll($event)">
              <label class="geo-button" for="selectAll" id="selectAllLabel" style="display: none;">Select all</label>
          </div>
          <div id="polygonList" style="display: none;">
              <table class="checkmateListTable">
                  <thead>
                  <th colspan="4">Polygon Zones</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td width="40%">Name</td>
                      <td width="40%">Description</td>
                      <td width="5%">Color</td>
                      <td width="15%">Select zones for import</td>
                  </tr>
                  </tbody>
              </table>
          </div>

          <div id="pointList" style="display: none;">
              <table class="checkmateListTable">
                  <thead>
                  <th colspan="4">Point Zones</th>
                  </thead>
                  <tbody>
                  <tr>
                      <td width="40%">Name</td>
                      <td width="40%">Description</td>
                      <td width="5%">Color</td>
                      <td width="20%">Select zones for import</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div id="waiting" style="display: none;"></div>
</div>
<script type="text/javascript">
  geotab.addin.importKMLZones = function (api, state) {
      return {
          initialize: function (api, state, callback) {
              callback();
              angularObj.initAngular();
              kml.initVariables(api, state);
              angular.bootstrap(document.getElementById("importKmlZones"), ["importKMLZones"]);
              if (typeof FileReader === "undefined") {
                  alert("Your browser does not support file uploader. Please, use another one.");
              } else if (kml.isFormDataSupported) {
                  kml.uploader.init();
              }
          },
          focus: function () {
              kml.filter = state.getGroupFilter();
              kml.updateImportedInBG();
          },
          blur: function () {
          }
      };
  };
</script>

</body>

</html>