#ioxoutput-loading {
	position: absolute;
	bottom: 40px;
	right: 105px;
	display: none;
}

#ioxoutput-map {
	height: 100%;
	right: 341px;
}

#ioxoutput-controls {
	position: absolute;
	width: 300px;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	background-color: #f7f7f7;
	border-left: 1px solid #aaa;
}

#ioxoutput-error {
	margin-top: 20px;
	color: #cc0000;
}

#ioxoutput-header-paragraph  {
	margin-top: 5px;
}

.ioxoutput input[type="text"], select {
	padding: 5px;
	width: 295px;
}

#disclaimer {
    background-color: #E5F7FD;
    border: 1px solid #E5F7FD;
    color: #25477B;
    fill: #25477B;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 6px;
    position: relative;
    display: block;
}

#disclaimerLabel {
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
    color: #25477B;
    fill: #25477B;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 0px;
    text-transform: uppercase;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}