.container {
	width: 90%;
    margin: auto;
}

mark {
	background: #FAFAA2;
	padding: 3px 8px;
    border-radius: 8px;
    color: #000;
}

code {
	display: block;
    padding: 0;
    background: 0 0;
    white-space: pre;
    line-height: 2;
}

.box {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
    font-size: 2em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxWrapper {
    margin-left: 40px;
    float: left;
    overflow: hidden;
}

pre {
	margin: 0;
    padding: 1px 0 0;
    white-space: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.quote {
    float: right;
}

.example, .code {
	overflow: hidden;
    position: relative;
    margin: 0;
    padding: 25px 19px 10px;
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.w {
    width: 200px;
}

.buttons > * {
	float: left;
	margin-left: 10px;
	line-height: normal;
}

.code {
	border-top: 0;
}

.example:after,
.code:after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    border-radius: 4px 0 4px 0;
}

.example:after {
	content: "Example";
}

.code:after {
	content: "Code";
}
