.hidden {
    display: none;
}

#proximity-map {
    height: calc(100% + 40px);
}

.cssGrid,
.cssGrid>div {
    height: 100%;
}

input[type='radio'] label {
    display: inline;
}

.choices__inner {
    width: calc(100% - 1.5em);
    border: 1px solid #c5dbec;
    background-color: #fefefe;
    border-radius: 0.4em;
}

.choices__list--multiple .choices__item {
    background-color: #2c7ab1;
    border: 1px solid #fefefe;
}

.choices__list--dropdown {
    width: calc(100% - 0.4em);
}

.map-icon {
    border-radius: 8px;
    border: #25477b solid 1px;
    background: #e5f2fa;
}

.checkmateFormEditField {
    width: calc(100% - 1em);
    max-width: 100%;
}

select.checkmateFormEditField {
    width: 100%;
}

label {
    padding-top: 1em;
    display: block;
    padding-bottom: 0.5em;
}

#proximity-controls {
    height: 100%;
    padding: 20px;
    background-color: #e5f2fa;
    border-right: 1px solid #ddd;
}

#proximity-loading {
    transform: scale(0.5);
}

#proximity-loading>div {
    background: #2c7ab1;
}

#error {
    margin-top: 20px;
    color: #cc0000;
}

input[type="range"] {
    width: 290px;
}

.proximity-header-paragraph {
    margin-top: 5px;
}

#proximity-div-select-all {
    margin-top: 10px;
}

#proximity-error {
    margin-top: 20px;
    color: #cc0000;
}