.tripstimeline-parent {
    display: table;
    overflow: hidden;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1em;
}

.tripstimeline-parent .item.selected {
    min-width: 200px !important;
}

.vis.timeline .item.range .content {
    text-overflow: ellipsis;
}

.tripstimeline-parent .item .content {
    width: 100%;
}

.tripstimeline-parent .item .detailslink {
    display: none;
    right: 0px;
    top: 2px;
}

.tripstimeline-parent .item.selected .detailslink {
    display: block;
}

#tripstimeline-chart-prev,
#tripstimeline-chart-next {
    width: 50px;
    border: 1px solid #BFBFBF;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    top: auto;
    box-sizing: border-box;
    padding: 7px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #838383;
    display: table-cell;
    vertical-align: middle;
}

#tripstimeline-chart-prev:hover,
#tripstimeline-chart-next:hover {
    background-color: #DCE7F9;
}

#tripstimeline-chart-prev {
    border-right: none;
}

#tripstimeline-chart-next {
    border-left: none;
}

#tripstimeline-chart-container {
    display: table-cell;
}

#disclaimer {
    background-color: #E5F7FD;
    border: 1px solid #E5F7FD;
    color: #25477B;
    fill: #25477B;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 6px;
    position: relative;
    display: block;
}

#disclaimerLabel {
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
    color: #25477B;
    fill: #25477B;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 0px;
    text-transform: uppercase;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}