.addin {
    font-family: "Segoe UI",Segoe,"Helvetica Neue",Helvetica,sans-serif;
}

.addin .hos_data_addin_row {
    /* display: flex; */
    /* margin-bottom: 10px; */
    min-height: 32px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-left: 5px #c5dbec solid;
    border-right: 1px #c5dbec solid;
    padding: 8px 15px;
    padding-bottom: auto;
    cursor: pointer;
    color: #25477b;
}

#hos_data_view_logs_button{
    float: right;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #c5dbec;
    background-color: #e8f3fd;
    color: #25477b;
    fill: #25477b;
    padding: 5px 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}



#hos-data-heading {
    background-color: #2c7ab1;
    color: #fff;
    padding: 5px 8px;
    margin-top: 5px;
    font-size: 1.3em;
}

.hos_data_addin_row_initial_Message p {
    margin-top: 5px;
    margin-bottom: auto;
    font-size: 18px;
    color: black;
}

.hos_data_addin_row p {
    margin-top: 5px;
    margin-bottom: auto;
    font-size: 13px;
    color: black;
}

.hos_data_addin_row label {
    font-size: 15px;
}

.hos_data_addin_row .available_status{
    width: 50px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px;
}

#driver_availability_table{
    width: 100%;
    font-size: 13px;
    color: black;
    table-layout: fixed;
}

.hos_availability_icon{
    display: none;
}

.red_availability_warning{
  color:#E95353;
  font-weight: bold;
  fill:#E95353;
}

.yellow_availability_warning{
  color:#FFA500;
  font-weight: bold;
  fill: #FFA500;
}

.green_availability_warning{
  color: #48BB48;
  font-weight: bold;
  fill: #48BB48;
}

#disclaimer {
    background-color: #E5F7FD;
    border: 1px solid #E5F7FD;
    color: #25477B;
    fill: #25477B;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    padding: 4px 6px;
    position: relative;
    display: block;
    font-size: 12px;
}

#disclaimerLabel {
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
    color: #25477B;
    fill: #25477B;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 0px;
    text-transform: uppercase;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}