.addin {
    min-width: 450px;
    width: 450px;
    z-index: 1500;
    float: right;
    border-left: 1px solid #2c7ab1;
    margin-top:0;
}

#hos-data-heading {
    margin-top:0;
}

.container {
    display: flex;
    height: calc(100% - 41px)!important;
    flex-wrap: nowrap;
    margin:0;
    padding:0;
}

.container .map-functions  {
    margin-top: 10px;
    width: 100%;
    padding-left: 50px;
}


body {
    height: 100%!important;
}